body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

/* header styles */
.search-box {
  width: 320px;
  margin: auto;
  border-radius: 5px;
  margin-top: 50px;
}

.search-field {
  width: 80%;
  border: 1px solid rgb(3, 118, 211);
  border-right: none;
  border-radius: 5px;
  padding: 7px;
}

.search-field:focus {
  outline: 3px solid hsla(207, 97%, 42%, 0.397);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-button {
  width: 20%;
  margin-left: -7px;
  padding: 8px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  background-color: rgb(3, 118, 211);
}

.search-button:hover {
  background-color: rgba(3, 117, 211, 0.822);
}
.search-button:focus {
  outline: 3px solid hsla(207, 97%, 42%, 0.397);
}

/* main content styles */
.product-details {
  margin: auto;
  text-align: center;
  width: 70%;
  margin-top: 20px;
}

.all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  width: 95%;
  margin: 15px 0 15px 40px;
}

.product {
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(240, 255, 240, 0.747);
  display: grid;
  place-items: center;
  transition: all 0.7s;
}

.product:hover {
  box-shadow: 4px 4px 7px gray;
}

.product-image {
  width: 150px;
  height: 150px;
}

.rating {
  color: #FFAA1D;
  font-weight: 700;
}

.cart {
  width: 350px;
  border-radius: 5px;
  margin-left: -30px;
  margin-top: 20px;
  padding: 15px;
  box-shadow: 10px 10px 20px gray;
  background-color: rgba(240, 255, 240, 0.747);
}

/* media query for tab */
@media only screen and (max-width: 768px) {
  .all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}

/* media query for mobile */
@media only screen and (max-width: 468px) {
  .all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
